/*  View example button styles here: http://hellohappy.org/css3-buttons/ 
    Then view their code here:  https://github.com/ubuwaits/css3-buttons
    Pick two that you like, and copy the css code from repo to style the two buttons on index.html. */

/* minimal
*******************************************************************************/

/* Extra credit */
button.thomas-button {
    background: black;
    color: white;
    border: 4px solid gray;
    border-radius: 10px;
    padding: 5px 10px
}

button.thomas-button:hover {
    border: 4px solid orange;
}

button.thomas-button:active {
    border: 4px solid red;
}

button.minimal {
  background: #e3e3e3;
  border: 1px solid #bbb;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  color: #333;
  font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
  padding: 8px 0 9px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  width: 150px; }
  button.minimal:hover {
    background: #d9d9d9;
    -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    color: #222;
    cursor: pointer; }
  button.minimal:active {
    background: #d0d0d0;
    -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000; }